@page
@model Mission7DeLange.Pages.PurchaseCompletedModel
@{
}
<div class="mx-auto">
    <h2 class="mb-3">Thanks! Your order will be coming to you soon!</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>